<mat-card class="example-card">
  <h3>ข้อมูลการจัดส่ง</h3>
<div class="row">
    <!-- Search Item -->
    <div class="input-field col s6 " style="width: 40%; font-family: 'Prompt', sans-serif;">
      <i class="material-icons prefix">search</i>
      <input type="text" name="job" (keyup)="applyFilter($event.target.value)" id="job">
      <label for="job">ค้นหาชื่อรอบการจัดส่ง</label>
    </div>
    <!-- Table Job -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Column -->
      <ng-container matColumnDef="jobname">
        <th mat-header-cell *matHeaderCellDef> ชื่อรอบงาน </th>
        <td mat-cell *matCellDef="let element"> <div class="select" (click)="onSelect(element)"> {{element.jobname}} </div> </td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> ระยะทางทั้งหมด </th>
        <td mat-cell *matCellDef="let element"> {{element.total.toFixed(2)}} กม. </td>
      </ng-container>
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> ระยะเวลาทั้งหมด </th>
        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> สถานะการจัดส่ง </th>
        <td mat-cell *matCellDef="let element">       
          <label [ngSwitch]="element.status">
            <div class="true" *ngSwitchCase="'จัดส่งเรียบร้อย'">
                <span>{{element.status}}</span>
            </div>
            <div class="false" *ngSwitchCase="'กำลังจัดส่ง'">
                <input *ngIf="check_box" type="checkbox" (change)="statuschage(element)"/>
                <span>{{element.status}}</span>
            </div> 
           
          </label>
        </td>
      </ng-container>
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let job" style="align-content: right;">
          <button class="menu" mat-icon-button [matMenuTriggerFor]="Menu" style="background-color: aliceblue">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #Menu="matMenu">
            <button mat-menu-item (click)="editJob(job)" style="background-color: aliceblue;text-align: center">
              <mat-icon>edit</mat-icon>
              <span>แก้ไข</span>
            </button>
            <button mat-menu-item (click)="deleteJob(job._id)" style="background-color: aliceblue;text-align: center">
              <mat-icon>delete</mat-icon>
              <span>ลบ</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>
</mat-card>
<footer class="footer">
  <div class="container">
    <button mat-fab (click)="AddJob()" class="right">
      <i class="low material-icons">add</i>
    </button>
  </div>
</footer>

