table {
    width: 100%;
  }
button.menu {
    float: right;
}
.mat-elevation-z8{
    cursor: default;
font-family: 'Prompt', sans-serif;
}
.example-card {
    width: 100%;
    height: 100%;
    font-family: 'Prompt', sans-serif;
}
.check {
    pointer-events: none;
}
.select {
    cursor: pointer;
    font-family: 'Prompt', sans-serif;
}
 .font-tooltip {
    width: 250px;
    font-size: 18px;
    font-family: 'Prompt', sans-serif;
    text-align: center;
  }
  .footer-job {
    position: fixed!important;
    bottom: 30px!important;
    right: 0!important;
    width: 300px!important;
  }
  .footer-job-button {
      right: -200px;
  }
  .print {
    background: transparent;
    color: black;
  }

