<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form (ngSubmit)="addPosition(positionForm)" #positionForm="ngForm">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="positionService.selectedPosition._id">
            <div class="row">
              <div class="input-field col s12">
                  <select *ngIf="!show" [(ngModel)]="positionService.selectedPosition.id" name="id" #id="ngModel">
                      <option value="" disabled>Select Customer</option>
                      <option *ngFor="let employ of employeeService.employees"  [value]="employ._id">{{ employ.name }}</option>
                  </select>
              </div>
              <div class="input-field col s12">
                <input type="text" name="address" class="validate" id="add" #address="ngModel" [(ngModel)]="positionService.selectedPosition.address">
                <label for="add">Address</label>
              </div>
              <div class="input-field col s12">
                <input type="hidden" name="lattitude" class="validate" id="lat" #lattitude="ngModel" [(ngModel)]="positionService.selectedPosition.lattitude">
              </div>
              <div class="input-field col s12">
                <input type="hidden" name="longtitude" class="validate" id="long" #longtitude="ngModel" [(ngModel)]="positionService.selectedPosition.longtitude">
              </div>
              <div class="card-action">
                <div class="input-field col s12">
                  <button class="btn right" (click)="resetForm(positionForm)">Clean</button>
                  <button class="btn right" style="margin-left:  2px;">Save</button>
              </div>
              </div>
            </div>
          </form>
          <agm-map [latitude]="positionService.selectedPosition.lattitude" [longitude]="positionService.selectedPosition.longtitude" (mapClick)="onChosenLocation($event)">
              <agm-marker [latitude]="positionService.selectedPosition.lattitude"
                          [longitude]="positionService.selectedPosition.longtitude"
                          *ngIf="locationChosen"></agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table>
        <thead>
          <th>Name</th>
          <th>Address</th>
          <th>Oparations</th>
        </thead>
        <tr *ngFor="let position of positionService.positions">
            <td>{{ position.employee["name"] }}</td>
            <td>{{ position.address }}</td>
          <button class="btn btn-primary" (click)="editPosition(position, show=!show)">
            <i class="material-icons">edit</i>
          </button>
          <button class="btn btn-primary" (click)="delePosition(position._id)">
            <i class="material-icons">delete</i>
          </button>
        </tr>
      </table>
    </div>
  </div>
</div>
