.example-card {
    max-width: 100%;
    font-family: 'Prompt', sans-serif;
  }
  agm-map {
    height: 400px;
    width: 500px;
  }
  .list-item {
    margin-bottom: 2px;
  }
  .box {
    padding:  10px 20px;
    display: inline-block;
   }
   .box.dragging {
       /* background: coral; */
       background: green;
   }
   .box.sortable.dragging {
      background: none;
      color: transparent;
   }
  .list-address{
    display: inline-flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
  }
  .disablelist {
    pointer-events: none;
  }
  .disablemap {
    pointer-events: none;
    opacity: 0.4;
  }
  .right:focus{
    background-color: azure!important;
  }
  .buttonedit {
    float: right;
  }
  input{
    border: none;
    border-color: transparent;
    border-bottom: none!important;
    box-shadow: none!important;
}
   