.example-card {
    width: 100%;
    
    font-family: 'Prompt', sans-serif;
  }
  agm-map {
    height: 400px;
    width: 100%;
  }
  .list-item {
    margin-bottom: 2px;
  }
  .box {
    padding:  10px 20px;
    display: inline-block;
   }
   .box.dragging {
       /* background: coral; */
       background: green;
   }
   .box.sortable.dragging {
      background: none;
      color: transparent;
   }
  .list-address{
    display: inline-flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
  }
  .disablelist {
    pointer-events: none;
  }
  .disablemap {
    pointer-events: none;
    opacity: 0.4;
  }
  .right:focus{
    background-color: azure!important;
  }
  .buttonedit {
    float: right;
    margin-left: 20px!important;
    border-radius: 20px;
    background-color: rgba(28, 93, 212, 0.884);
    color: white;
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    width: 70px;
  }
  .buttoncancel {
    float: right;
    margin-left: 20px!important;
    border-radius: 20px;
    background-color: firebrick;
    color: white;
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    width: 70px;
  }
  .buttonback {
    float: left;
    cursor: pointer;
    color: black;
  }
  input{
    border: none;
    border-color: transparent;
    border-bottom: none!important;
    box-shadow: none!important;
}
section.timeline-outer {
  width: 80%;
  margin: 0 auto;
}

h1.header {
  font-size: 50px;
  line-height: 70px;
  font-family: 'Prompt', sans-serif;
}

.buttonadd {
  background-color: firebrick;
  color: white;
  float: right;
  margin-top: 20px!important;
}
.font-tooltip {
  width: 250px;
  font-size: 18px;
  font-family: 'Prompt', sans-serif;
  text-align: center;
}
.timeline {
  width: 800px;
  height: auto;
  margin: 50px auto 0 ;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 50px;
}
.timeline li {
  position: relative;
  list-style: none;
}
.timeline li .item {
  position: relative;
  min-height: 70px;
  padding: 0 20px 30px 30px;
  margin-left: 20px;
  border-left: 1px solid #262626;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
.timeline li:last-child .item {
  border-left: 1px solid transparent;
}
.timeline li .item span {
  position: absolute;
  top: -8px;
  left: -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: firebrick;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
}

.timeline-header {
  text-align: center;
}

   