.example-card {
    max-width: 400px;
    font-family: 'Prompt', sans-serif;
  }
  agm-map {
    height: 400px;
    width: 500px;
  }
  .list-item {
    margin-bottom: 2px;
  }
  .box {
    border: 1px solid black;
    padding:  10px 20px;
    display: inline-block;
   }
   .box.dragging {
       /* background: coral; */
       background: #efefef;
   }
   .disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
  }
   