/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Prompt', sans-serif;
}
main {
  flex: 1 0 auto;
}
.footer{
   position: fixed;
    bottom: 30px;
    right: 0;
    width: 300px;
}
.draggale{
  cursor: move;
  user-select: none;
}

.movable:not(.dragging){
  transition: transform 300ms ease-in-out
}
.draggable-helper-overlay {
  pointer-events: none !important;
}