/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

nav a.active {
  color: aqua;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
footer{
  float: right;
  margin-right: 4em;
  margin-top: 10em;
  margin-bottom: 2em;
}
