<div class="card-header">
  <mat-toolbar class="toolbar">
    <h3>Information</h3>
    <span class="toolbar-spacer"></span>
    <mat-icon (click)="goback()">cancel</mat-icon>
  </mat-toolbar>
  <div appMovable class="row disable-select" appMovableArea>
    <div class="col s6">
      <form (ngSubmit)="addJob(jobForm)" #jobForm="ngForm">
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="select._id">
        <input type="hidden" name="id" #_id="ngModel" [(ngModel)]="select.id">
        <mat-form-field>
          <input matInput placeholder="ชื่อรอบงาน" name="jobname" #jobname="ngModel" [(ngModel)]="select.jobname">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="ที่อยู่" name="jobaddress" #jobaddress="ngModel" [(ngModel)]="select.address">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="lat" name="lattitude" #lattitude="ngModel" [(ngModel)]="select.lattitude">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="lng" name="longtitude" #longtitude="ngModel" [(ngModel)]="select.longtitude">
        </mat-form-field>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>ข้อมูลลูกค้า</mat-card-title>
            <mat-card-subtitle>โปรดลากข้อมูลจากตาราง</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="dropzone" appDropzone 
            (drop)="move(currentBox,dropzone1)" 
            (remove)="move(currentBox, positionService.positions)">
              <ul>
                <li *ngFor="let j of dropzone1" 
                appDroppable 
                (dragStart)="currentBox = j">{{j.address}}
                  <div class="box" *appDraggableHelper>
                    {{j.address}}
                  </div>
                </li>
              </ul>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button type="submit" mat-raised-button class="save">Save</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
    <div class="col s6">
      <!-- <div class="box">
        <div appMovable class="box" [appMovableReset]="true">
          Box
        </div>
      </div>
      <div style="overflow: hidden;">
        <div appDraggale class="box">
          Box
          <div class="box helper" *appDraggableHelper>
            Helper 2
          </div>
        </div>
      </div> -->
      <ul>
        <li *ngFor="let p of positionService.positions" 
        appDroppable 
        (dragStart)="currentBox = p">{{p.address}}
          <div class="box box-helper" *appDraggableHelper>
            {{p.address}}
          </div>
        </li>
      </ul>
      <div>

      </div>

    </div>
  </div>
</div>