<div class="card-header">
  <mat-toolbar class="toolbar">
    <h3>Information</h3>
    <span class="toolbar-spacer"></span>
    <mat-icon (click)="goback()">cancel</mat-icon>
  </mat-toolbar>
  <div appMovable class="row" appMovableArea>
    <div class="col s6">
      <form #positionForm="ngForm">
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="_idjob">
        <mat-form-field>
          <input matInput placeholder="ชื่อรอบงาน" name="jobname" #jobname="ngModel" [(ngModel)]="namejob">
        </mat-form-field>

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>ข้อมูลลูกค้า</mat-card-title>
            <mat-card-subtitle>โปรดลากข้อมูลจากตาราง</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div appDraggale class="box">
              Box
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button type="submit" mat-raised-button class="save">Save</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
    <div class="col s6">
      <div class="box">
        <div appMovable class="box" [appMovableReset]="true">
          Box
        </div>
      </div>
    </div>
  </div>
</div>