<div class="card-header">
  <mat-toolbar class="toolbar">
    <div class="header">{{title}}</div>
    <span class="toolbar-spacer"></span>
    <mat-icon class="cancel" (click)="goback()" >cancel</mat-icon>
  </mat-toolbar>
  <div appMovable class="row disable-select" appMovableArea>
    <div class="row">
      <div class="col s6">
        <form (ngSubmit)="addJob(jobForm)" #jobForm="ngForm">
          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="select._id">
          <input type="hidden" name="id" #id="ngModel" [(ngModel)]="select.id">
          <input type="hidden" placeholder="ที่อยู่" name="address" #address="ngModel" [(ngModel)]="select.address">
          <input type="hidden" placeholder="lat" name="lattitude" #lattitude="ngModel" [(ngModel)]="select.lattitude">
          <input type="hidden" placeholder="lng" name="longtitude" #longtitude="ngModel" [(ngModel)]="select.longtitude">
          <input type="hidden" placeholder="status" name="status" #status="ngModel" [(ngModel)]="select.status">
          <br>
        <div class="row">
            <div class="input-field col s12" style="width: 60%">
              <i class="material-icons prefix">directions_car</i>
              <input id="search" type="text" [hidden]="detailCheck" name="jobname" #jobname="ngModel" [(ngModel)]="select.jobname" class="validate">
              <span class="helper-text">ชื่อรอบการจัดส่ง</span>
            </div>
          </div>
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-subtitle>โปรดลากข้อมูลจากตาราง</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div class="dropzone" appDropzone (drop)="move(currentBox,dropzone1)" (remove)="move(currentBox, positionService.positions)"
                name="zone" #dropzone>
                <ul>
                  <li *ngFor="let j of dropzone1" appDroppable (dragStart)="currentBox = j">{{j.employee.name}} -
                    {{j.address}}
                    <div class="box" *appDraggableHelper>
                      {{j.employee.name}} - {{j.address}}
                    </div>
                  </li>
                </ul>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button type="submit" mat-raised-button class="save">Save</button>
            </mat-card-actions>
          </mat-card>
        </form>
      </div>
      <div class="col s6">
        <div class="header-position">
          ข้อมูลที่อยู่ของลูกค้า
        </div>
        <div class="row">
            <div class="input-field col s12" style="width: 60%;margin-top: 15px;">
              <i class="material-icons prefix">search</i>
              <input id="search" type="text" class="validate" [(ngModel)]="searchPosition">
              <label for="search">ค้นหารายชื่อลูกค้า</label>
            </div>
          </div>
        <div class="sub-position">
          <div class="sub-header">
            <div class="row">
              <div class="col s3">
                ชื่อลูกค้า
              </div>
              <div class="col s9">
                ที่อยู่ลูกค้า
              </div>
            </div>
          </div>
          <ul>
            <li *ngFor="let p of positionService.positions | paginate: { itemsPerPage:5, currentPage: p } | jobfilter: searchPosition "
              appDroppable (dragStart)="currentBox = p">
              <div class="row">
                <div class="col s3">
                  {{p.employee['name']}}
                </div>
                <div class="col s9">
                  {{p.address}}
                </div>
                <div class="box box-helper" *appDraggableHelper>
                  {{p.employee['name']}} - {{p.address}}
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="pagination">
          <pagination-controls (pageChange)="p =$event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>