<mat-sidenav-container class="example-container" [ngClass]="{'checklogin': authService.loggedIn()}">
  <mat-sidenav mode="side" opened class="sidenav" *ngIf="!authService.loggedIn()">
    <mat-toolbar class="mat-toolbar-sidenav">
      <img src="assets/img/TRAVEL2.png" class="logo-travel">
    </mat-toolbar>
    <div class="imageprofile">
      <a><img [src]="img | SafeUrl: 'resourceUrl'" class="circle"></a>
    </div>
    <div class="process">
      <div class="button">
        <a class="button-display" routerLink="/home" mat-button routerLinkActive="active">
          <mat-icon class="icon-home">home</mat-icon>หน้าหลัก
        </a>
      </div>
      <div class="button">
        <a class="button-display" routerLink="/customer" mat-button routerLinkActive="active">
          <mat-icon class="icon-home">account_circle</mat-icon>ข้อมูลลูกค้า
        </a>
      </div>
      <div class="button">
        <a class="button-display" routerLink="/job" mat-button routerLinkActive="active">
          <mat-icon class="icon-home">directions_car</mat-icon>ข้อมูลการจัดส่ง
        </a>
      </div>
    </div>

  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="mat-toolbar-content" *ngIf="!authService.loggedIn()">
      <mat-toolbar-row>
        <span class="example-spacer"></span>
        <a class="dropdown-trigger" data-target='dropdown1' href="#!">
          <img [src]="img | SafeUrl: 'resourceUrl'" class="button-img">
          <div class="online"></div>
        </a>
        <div id='dropdown1' class='dropdown-content'>
          <div class="row">
            <div class="col s6">
              <div class="chage-image">
                <a class="buttonclick" >
                <img [src]="img | SafeUrl: 'resourceUrl'" class="circle">
                <button class="topleft" type="button" (click)="chageImage()" >
                  เปลี่ยน
                </button>
                </a>
              </div>
            </div>
            <div class="col s6">
              <div class="content">
                  {{ email }}
              </div>
              <div class="button">
                  <a class="button-profile" routerLink="/profile" mat-button routerLinkActive="active">
                    ข้อมูลส่วนตัว
                  </a>
                </div>
            </div>
          </div>
          <hr class="profile-hr">
          <a *ngIf="!authService.loggedIn()" href="#" (click)="onLogoutClick()" mat-button class="button-logout">
             <span style="color:black">ออกจากระบบ</span>
          </a>
          </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="main-content" [@routeAnimation]="getDept(myOutlet)">
      <router-outlet #myOutlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>





<!-- <nav>
    <div class="nav-wrapper">
      <a routerLink="'/'" routerLinkActive="active" class="brand-logo">TravelSaleMan</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav> -->