<div class="container">
    <h3>ลูกค้า</h3>
    <button mat-fab (click)="addEmployee(show=!show)"><i class="medium material-icons">add</i>เพิ่มลูกค้า</button>
    <br>
    <br>
  <div class="row">
    <div class="col s7">
      <table class="mat-elevation-z8">
        <thead>
          <th>No.</th>
          <th>Name</th>
          <th>Oparations</th>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employeeService.employees; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ employee?.name }}</td>
            <td>
              <button (click)="editEmployee(employee, show=!show)" mat-fab style="width: 50px;">
                <i class="material-icons">edit</i>
              </button>
              <button (click)="deleteEmployee(employee._id)" mat-fab color="warn">
                <i class="material-icons">delete</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col s5">
        <div class="card">
          <div class="card-content" *ngIf="show">
            <form  (ngSubmit)="addEmployee(employeeForm,show=!show)" #employeeForm="ngForm" >
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" id="n">
                  <label for="n">Name</label>
                </div>
                <div class="card-action">
                  <div class="input-field col s12">
                    <button class="btn right" (click)="resetForm(employeeForm)">Clean</button>
                    <button class="btn right" style="margin-left:  2px;">Save</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
