table {
  width: 100%;
}
.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

button.menu{
  float: right;
}
li.customer-item{
  cursor: pointer;
}
.example-card {
  width: 100%;
  height: 100%;
}
.mat-elevation-z8 {
  font-family: 'Prompt', sans-serif;
}
.font-tooltip {
  width: 250px;
  font-size: 18px;
  font-family: 'Prompt', sans-serif;
  text-align: center;
}
.footer-employee {
  position: fixed!important;
  bottom: 30px!important;
  right: 0!important;
  width: 300px!important;
}
.footer-employee-button {
    right: -200px;
}



