.example-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
  border: 2px;
  border-color: black;
}

.example-sidenav {
  display: flex;
  align-items: top;
  justify-content: center;
  width: 200px;
  border-color: black;
  border: 2px;
}
a {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
