<div class="row">
    <mat-toolbar class="toolbar-image">
        <div class="col s6">
            <div class="header-content">
                เพิ่มรูปภาพ
            </div>
        </div>
        <div class="col s6">
            <div class="cancel">
                <mat-icon (click)="goback()">cancel</mat-icon>
            </div>
        </div>
    </mat-toolbar>
</div>
<div class="content">
    <div class="input-file">
        <input type="file" style="display: none" (change)="onFileSelected($event)" #fileInput>
        <button type="button" (click)="fileInput.click()">เลือกรูปภาพ</button>
    </div>
    <div class="button-upload">
        <button type="button" (click)="onUploads()">upload</button>
    </div>

</div>