.toolbar-image {
    width: 100%;
    background: coral;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
.cancel {
    float: right;
    cursor: pointer;
}
.cancel:hover {
    color: white;
}
.header-content {
    font-family: 'Prompt', sans-serif;
    float: left;
}
.content {
    margin-top: 10px;
    width: 100%;
    background: darkgray;
    height: 370px;
}
.input-file {
    position: absolute;
    margin-top: 170px;
    margin-left: 170px;
}
.button-upload{
    float: right;
    margin-top: 340px;
    margin-right: 20px;
}