.toolbar-image {
    width: 100%;
    background: coral;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
.cancel {
    float: right;
    cursor: pointer;
}
.cancel:hover {
    color: white;
}
.header-content {
    font-family: 'Prompt', sans-serif;
    float: left;
}
.content {
    margin-top: 10px;
    height: 370px;
    position: relative;
}
.img-select{
    padding-bottom: 20px;
}
.input-file {
    position: absolute;
    bottom: 10px;
}
.button-upload{
    position: absolute;
    bottom: 10px;
    right: 0;
    font-family: 'Prompt', sans-serif;
}
.button-file:active {
    background: transparent!important;
}
.button-file:hover {
    box-shadow: 0.5px 0.5px 0.5px 0.5px #888888
}
.upload {
    font-family: 'Prompt', sans-serif;
}