<div class="row">
    <mat-toolbar class="toolbar-image">
        <div class="col s6">
            <div class="header-content">
                เพิ่มรูปภาพ
            </div>
        </div>
        <div class="col s6">
            <div class="cancel">
                <mat-icon (click)="goback()">cancel</mat-icon>
            </div>
        </div>
    </mat-toolbar>
</div>
<div class="content">
    <div class="img center">
        <img [src]="url_img" width="320px" height="320px" alt="">
    </div>
    <div class="left input-file">
        <input type="file" style="display: none" (change)="onFileSelected($event)" #fileInput>
        <button type="button" mat-raised-button style="font-family: 'Prompt', sans-serif;" (click)="fileInput.click()">เลือกรูปภาพ</button>
    </div>
    <div class="right button-upload">
        <button type="button" mat-raised-button color="primary" [disabled]="!disable" style="font-family: 'Prompt', sans-serif;" (click)="onUploads()">ตั้งเป็นรูปภาพหน้าปก</button>
    </div>

</div>