<div class="row">
  <div class="col s6">
    <mat-card class="welcome-login">
      <div class="moveimage">
        <img src="assets/img/TRAVEL1.png" class="image">
        <h3 class="welcome">ยินดีต้อนรับ</h3>
        <div class="subwelcome" >
          เป็นเว็ปไซต์ที่ให้บริการทางด้าน
          <br>การขนส่งสินค้าที่มีระบบตัวช่วยตัดสินใจ
          <br>ในการเลือกเส้นทาง
        </div>  
    </div>
    </mat-card>
  </div>
  <div class="col s6">
    <mat-card class="example-card animated zoomIn">
      <div class="header">เข้าสู่ระบบ</div>
      <div class="row">
        <form (submit)="onLoginSubmit()" #mylogin="ngForm" class="col s12">
          <div class="row" style="padding-top: 30px; margin-bottom: 0px; ">
            <div class="input-field col s6" style="width: 100%; ">
              <i class="material-icons prefix">person</i>
              <input id="username" type="text" [(ngModel)]="username" name="username" class="input">
              <label for="username" style="font-family: 'Prompt', sans-serif;">รหัสผู้ใช้</label>
            </div>
          </div>
          <div class="row" style="padding-top: 30px; margin-bottom: 0px; ">
            <div class="input-field col s6" style="width: 100%;">
              <i class="material-icons prefix">lock</i>
              <input id="password" type="password" [(ngModel)]="password" name="password" class="input">
              <label for="password" style="font-family: 'Prompt', sans-serif;">รหัสผ่าน</label>
            </div>
          </div>
         <div class="action">
           <button type="submit" mat-button class="button-login" >เข้าสู่ระบบ</button>
           <a href="#register" id="one" *ngIf="authService.loggedIn()" routerLink="/register" routerLinkActive="active" class="register">สมัครสมาชิก</a>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</div>