.example-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .example-container > * {
    width: 50%;
    background-color: white;
  }
  input{
    border: none;
    border-color: transparent;
    border-bottom: none!important;
    box-shadow: none!important;
}