.container {
  display: flex;
  flex-direction: column;
 
}

.container > * {
  width: 50%;
}

.example-full-width {
  width: 70%;
}

.toolbar {
  background-color: coral;
  color: azure;
  border-radius: 5px
}
.toolbar-spacer{
  flex: 1 1 auto;
}
.cancel {
  cursor: pointer;
  float: right!important;
  color: #26a69a;
}
.cancel:hover {
  color: black;
  border-radius: 50%;
}
.title {
  font-size: 28px;
}
.btn {
  position: absolute;
  margin-left: 40px;
  width: 78%;
  font-family: 'Prompt', sans-serif;
  color: white;
  background-color: #26a69a;
}