<div class="card-header">
<mat-toolbar class="toolbar">
  <h3>Information</h3>
  <span class="toolbar-spacer"></span>
  <mat-icon (click)="goback()">cancel</mat-icon>
</mat-toolbar>
        <div class="card-content">
<form  (ngSubmit)="addEmployee(employeeForm)" #employeeForm="ngForm" >
  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
  <div class="row">
    <div class="input-field col s12">
      <input type="text" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" id="n">
      <label for="n">Name</label>
    </div>
    <div class="card-action">
      <div class="input-field col s12">
        <button mat-raised-button class="right" (click)="resetForm(employeeForm)">Clean</button>
        <button mat-raised-button class="btn right">Save</button>
      </div>
    </div>
  </div>
</form>
</div>
</div>
