<div class="card-header">
<mat-toolbar class="toolbar">
  <h3>Information</h3>
  <span class="toolbar-spacer"></span>
  <mat-icon class="cancel" (click)="goback()">cancel</mat-icon>
</mat-toolbar>
        <div class="card-content">
<form  [formGroup]= "_addEmployee" (submit)="onSubmit()">
    <input type="hidden" formControlName="_id">
  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id" [ngModelOptions]="{standalone: true}">
  <div class="row">
    <div class="input-field col s12">
      <input type="text" formControlName="name" id="name" name="employeeService.selectedEmployee.name" (value)="employeeService.selectedEmployee.name">
    </div>
      <div class="card-action">
      <div class="input-field col s12">
        <button mat-button class="btn btn-success right">Save</button>
      </div>
    </div>
  </div>
</form>
</div>
</div>
