<div class="card-content" *ngIf="check_page"> 
  <div class="row">
    <div class="col s12">
      <mat-card>
        <mat-card-title style=" font-family: 'Prompt', sans-serif;">
          รอบการจัดส่งล่าสุด
          <mat-card-subtitle>
           ชื่อรอบการจัดส่ง: {{name_job}}
          </mat-card-subtitle>
        </mat-card-title>
        <mat-card-content>
          <div class="card-map">
            <agm-map class="map" [latitude]="14.5" [longitude]="103.5" [zoom]="5">
                <agm-direction 
                [origin]="origin" 
                [destination]="destination" 
                [waypoints]="waypoints">
                </agm-direction> 
            </agm-map>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <mat-card >
        <div class="sub-distance">
          <p> ระยะทางในการจัดส่งทั้งหมด <br> </p>
          <span>{{distance}} กิโลเมตร</span> <br>
          <span *ngIf="img" class="span-time"><img src="assets/img/car-icon.png" class="img-time"></span>
        </div>
      </mat-card>
    </div>
    <div class="col s4">
      <mat-card>
        <div class="sub-duration">
          <p> เวลาที่ใช้ในการจัดส่งทั้งหมด <br> </p>
          <span>{{time}}</span> <br>
          <span *ngIf="img" class="span-time"><img src="assets/img/time-clock.png" class="img-time"></span>
        </div>
      </mat-card>
    </div>
      <div class="row">
        <div class="col s4">
          <mat-card class="card-position">
            <div class="sub-position">
              <p> จำนวนสถานที่จัดส่งทั้งหมด <br> </p>
              <span> {{ position }}</span> <br>
              <span *ngIf="img" class="span-time"><img src="assets/img/route.png" class="img-time"></span>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
</div>
<div class="container">
<h1 *ngIf="page_set"> {{ page }}</h1>
</div>