.card-content {
 font-family: 'Prompt', sans-serif; 
}
.map {
    height: 400px;
}
.card-map {
    height: 400px;
}
.sub-position {
    top: 10px;
    font-family: 'Prompt', sans-serif;
    text-align: center;
    font-size: 22px; 
    height: 200px;
    
}
.sub-position span {
    margin-top: 10px!important;
}
.sub-distance {
    top: 20px;
    font-family: 'Prompt', sans-serif;
    text-align: center;
    font-size: 22px;
    height: 200px;
}
.sub-duration {
    top: 20px;
    font-family: 'Prompt', sans-serif;
    text-align: center;
    font-size: 22px;
    height: 200px; 
}
.img-time {
   
    width: 70px;
    height: 70px;
}
.span-time{
    position: relative;
    top: 30px;
}
.check_page {
    pointer-events: none;
    opacity: 0.4;
}
.img-show {
    width: 100%;
    height: 500px;
}
.content {
    position: absolute;
    top: 120px;
    left: 270px;
}
.getStart {
    position: absolute;
    top: 120px;
    left: 150px;
    font-size: 48px;
    color:white;
    z-index: 1;
}
.button-getStart {
    background-color: coral;
    width: 60%;
    height: 50px;
    padding-top: 7px;
    font-size: 14px;
}
.pageset_false {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
.subtitle {
    font-size: 22px;
    margin-top: 10px;
}
.image {
    height: 500px;
    position: relative;
}
