.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 50%;
}

.example-full-width {
  width: 100%;
}

.toolbar {
  background-color: coral;
  color: azure;
  border-radius: 5px;
  width: 750px;
}
.toolbar-spacer{
  flex: 2 1  auto;
}
agm-map{
  height: 300px;
}
select{
  display: initial ;
}
